@inherits LayoutComponentBase

@*<head>
    <meta charset="utf-8" />
    <title>Drip-Chip</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - DripChip</title>
    
</head>*@

@Body
